.about-container {
    min-height: 100%;
}

.about-subtitle {
    font-family: 'Questrial', Helvetica, Arial;
}

.about-p {
    font-family: 'Montserrat', Helvetica, Arial;
    left: 20px;
    line-height: 190%;
    position: relative;
}

.about-img-container {
    float: left;
}

