.button {
    background: rgb(255, 255, 255);
    border: none;
    border: 1px solid $dark-blue;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
    padding: 10px 20px;
}

.button:hover {
    background: $dark-blue;
}

.button__filled {
    background: $dark-blue;
    color: #FFF;
}