.dental-care-p {
    font-family: 'Montserrat', Helvetica, Arial;
    font-size: 120%;
    line-height: 190%;
}

.dental-care-list-item {
    list-style: none;
    margin-top: 15px;
    text-decoration: none;
}

.dental-care-list-item__link {
    color: $dark-blue;
    font-family: 'Questrial', Helvetica, Arial;
    text-decoration: none;
}