.header-nav {
    display: inline-block; 
}

.header-container {
    background: $opacity-blue;
    margin-top: -22px;
    padding-top: 20px;
}

.header-title {
    color: #fff;
    font-family: 'Questrial', Helvetica, Arial;
    margin-bottom: 10px;
    margin-left: 250px;
    margin-top: 22px;
}

.nav__flex {
    display: flex;
    justify-content: center;
    width: 100vw;   
}

.nav-item {
    font-family: 'Montserrat', Helvetica, Arial;
    font-size: 130%;    
    margin-right: 30px;
    display: inline-block;
}

.logo-wrapper {
    position: relative;
}

.logo {
    right: 180px;
    margin-top: -108px;
    position: absolute;
    width: 50px;
}