.pr-title {
    font-family: 'Questrial', Helvetica, Arial;
    margin-bottom: 40px;
}

.pr-subtitle {
    font-family: 'Questrial', Helvetica, Arial;
    font-size: 130%;
    margin-bottom: 30px;
}

.pr-p {
    font-family: 'Montserrat', Helvetica, Arial;
    font-size: 120%;
    line-height: 185%;
}